#gridRoot{
    -fx-background-color: #053007;
}

#displayBox{
    -fx-background-color: #647565;
    -fx-border-color: #053007;
    -fx-border-width: 2px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px; /* Add this line */
    -fx-alignment: center;


}

.btn{
    -fx-background-color: #d3d3d3;
    -fx-border-color: #d3d3d3;
    -fx-border-width: 1px;
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
    -fx-padding: 10px;
    -fx-spacing: 10px;
    -fx-font-family: Georgia;

}

.button:hover {
    -fx-background-color: #ececec;
    -fx-text-fill: #333333;
    -fx-cursor: hand;
}

.cardDisplay{
    -fx-background-color: rgba(255, 255, 255, 0.5);
    -fx-border-color: white;
    -fx-border-width: 2px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px; /* Add this line */
    -fx-alignment: center;
}

.text{
    -fx-font-color: black;
    -fx-font-family: Georgia;
    -fx-font: bold 20px;
}

.error{
    -fx-font-family: Georgia;
    -fx-font: bold 20px;
    -fx-font-color: red;

}